name: Task 6

on:
  push:
    branches:
      - main
    paths:
      - task6/**

env:
  APP_NAME: task6
  IMAGE: task6-website
  NETWORK: task6-net

jobs:
  deploy:
    runs-on: [self-hosted, docker]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Ensure Docker network exists
        shell: bash
        run: |
          docker network inspect ${{ env.NETWORK }} >/dev/null 2>&1 \
          || docker network create ${{ env.NETWORK }}

      - name: Decide active deployment color
        shell: bash
        run: |
          if docker ps --format '{{.Names}}' | grep -q "${{ env.APP_NAME }}-blue"; then
            echo "COLOR=green" >> $GITHUB_ENV
            echo "OLD_COLOR=blue" >> $GITHUB_ENV
          else
            echo "COLOR=blue" >> $GITHUB_ENV
            echo "OLD_COLOR=green" >> $GITHUB_ENV
          fi

      - name: Build application Docker image
        shell: bash
        run: |
          docker build -t ${{ env.IMAGE }}:latest task6

      - name: Stop container of same color if exists
        shell: bash
        run: |
          docker rm -f ${{ env.APP_NAME }}-${{ env.COLOR }} || true

      - name: Start new application container
        shell: bash
        run: |
          docker run -d \
            --restart unless-stopped \
            --network ${{ env.NETWORK }} \
            -p 8080:80 \
            --name ${{ env.APP_NAME }}-${{ env.COLOR }} \
            ${{ env.IMAGE }}:latest

      - name: Remove old application container
        shell: bash
        run: |
          docker rm -f ${{ env.APP_NAME }}-${{ env.OLD_COLOR }} || true
