name: Task 6

on:
  push:
    branches:
      - main
    paths:
      - task6/**

env:
  NAME: task6

jobs:
  build:
    runs-on: [self-hosted, docker]
    steps:
      - name: Code Checkout
        uses: actions/checkout@v4
      
      - name: Decide Color
        shell: bash
        run: |
          if docker ps --format '{{.Names}}' | grep -qx "${{ env.NAME }}-blue"
          then
            echo "COLOR=green" >> $GITHUB_ENV
            echo "OLD_COLOR=blue" >> $GITHUB_ENV
          else
            echo "COLOR=blue" >> $GITHUB_ENV
            echo "OLD_COLOR=green" >> $GITHUB_ENV 
          fi
        
      - name: Build Image
        run: |
         docker build -t ${{ env.NAME }}-website:latest task6
    
  deploy:
    needs: build
    runs-on: [self-hosted, docker]
    steps:
      - name: Run Blue Container
        if: ${{ env.COLOR == 'blue' }}
        run: |
          docker run -d \
            --restart unless-stopped \
            --name ${NAME}-${COLOR} \
            ${NAME}-website:latest

      - name: Run Green Container
        if: ${{ env.COLOR == 'green' }}
        run: |
          docker run -d \
            --restart unless-stopped \
            --name ${NAME}-${COLOR} \
            ${NAME}-website:latest
  
      - name: Build nginx.conf
        shell: bash
        run: |
          cat > nginx.conf <<EOF
          upstream app {
            server ${NAME}-${COLOR}:80;
          }

          server {
            listen 80;
            location / {
              proxy_pass http://app;
            }
          }
          EOF
      
      - name: Start Nginx
        shell: bash
        run: |
          if ! docker ps --format '{{.Names}}' | grep -qx "${NAME}-nginx"
          then
            docker run -d \
            --restart unless-stopped \
            -p 8080:80 \
            -v $PWD/nginx.conf:/etc/nginx/conf.d/default.conf \
            --name ${NAME}-nginx \
            nginx:alpine
          fi

      - name: reload nginx
        run: docker exec ${NAME}-nginx nginx -s reload
      
      - name: Remove old container
        run: docker rm -f ${NAME}-${OLD_COLOR} || true